
<div class="row">
    <div fxLayoutAlign="center center" fxFlexFill >
    
        <mat-card fxFlex=35>
                <h1 align="center" style="color:red">You have Successfully Logged out !!!</h1>
                <h2 align="center" style="color:red">for re-login please press this button</h2>
                <h2> </h2>
                <nav>
                    <a mat-raised-button (click)="onClick()" >Login</a>
                </nav>  
             
        </mat-card>
        
    
        
        
     </div> 
     </div>          