<div class="abc">
    &nbsp;<h1>Why E-Learning ?</h1><br/>
    <h3>Online teaching is a communication platform between student and teacher. Here students can attend the online classes from anywhere by the select teacher. This online teaching system there are three users teacher, student and admin. Admin is a owner of a whole system. Teacher and student both are registered user of our site. They have username and password for login in to website.
        Registered teachers login to system and can choose the class, subject, topic , time and date and link to the class(link can be generate from zoom, webex, google meet etc.)
    Register student can choose class, subject, topic and then they will get list of the information having class, subject, topic , time and date and link to the class. Here student can choose the appropreate time and date and then can attend the class.
<br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/>
</h3>
</div>