<div class="row">
 
  <h1 style="text-align:center"> "Welcome {{localvalue}} !!!"</h1>
  
    
    <div fxLayoutAlign="center center" fxFlexFill >
      <mat-card fxFlex=20>
        <form class="example-form" >
            <a mat-raised-button (click)="onClick1()" >Schedule Class</a>
        </form>
      </mat-card>
        
      <mat-card fxFlex=20 >
        <form class="example-form">
            <a mat-raised-button (click)="onClick2()" >View Classes</a>
        </form>
    </mat-card>
    
     </div> 
     </div>