<div class="row">
 
    <h1 style="text-align:center"> "Welcome {{localvalue}} !!!"</h1>
    
      
      <div fxLayoutAlign="center center" fxFlexFill >
        <mat-card fxFlex=20>
          <form class="example-form" >
              <a mat-raised-button (click)="onClick1()" >Show Teachers List</a>
          </form>
        </mat-card>
          
        <mat-card fxFlex=20 >
          <form class="example-form">
              <a mat-raised-button (click)="onClick2()" >Show Students List</a>
          </form>
      </mat-card>

      <mat-card fxFlex=20>
        <form class="example-form" >
            <a mat-raised-button (click)="onClick3()" >Show Schedules List</a>
        </form>
      </mat-card>

       </div> 
       </div>