<div class="background">
<mat-chip-list aria-label="Fish selection">
  <div class="row">
    <div class="column">
      If you are a Teacher and want to get facilities available for Teacher then please register as teacher.
      <br><br><br>
      <nav>
        <a mat-raised-button color="primary" routerLink="teacher-registration">Register as Teacher</a>
        </nav>  </div>
    <div class="column">
      If you are a Teacher and want to get facilities available for Teacher then please register as teacher.
      <br><br><br>
      <nav>
      <a mat-raised-button color="primary" routerLink="student-registration">Register as Student</a>
      </nav>
    </div>
  </div>
  </mat-chip-list>
</div>
  